@media (max-width: 1399.98px) {
    ...
}

@media (max-width: 1199.98px) {
    .cards .set-padding {
        padding-left: 15px;
        padding-right: 15px;
    }

    .cards-section .style-box .text h2 {
        font-size: 14px !important;
        line-height: 23px;
    }
}


@media (max-width: 991.98px) {
    header {
        background-color: rgb(81, 15, 172);
    }

    .navbar-toggler {
        background-color: white;
    }

    .navbar-collapse {
        margin-top: 19px;
    }

    .nav-link::before {
        display: none;
    }

    .bg-color {
        display: none;
    }

    .cards .style-box {
        margin-top: 20px;
    }

    .cards {
        padding-top: 30px;
        padding-bottom: 30px;

    }

    .cards .ABOUT {
        padding-top: 60px;
    }

    .cards-section .style-box {
        margin: 12px 0px;
    }

    .cards-section {
        padding: 40px 0px 40px;
    }

    .cards-section .RECENT {
        padding-bottom: 15px;
    }

    .cards-section .style-box .text h2 {
        font-size: 16px !important;
    }

    .cards-section .style-box .text p {
        padding-top: 0px;
    }

    .slider {
        padding: 25px 0px 25px 0px;
    }

    .slider h4 {
        font-size: 27px;
    }

    .slider-2 .edit-box {
        padding: 40px 43px 40px 79px;
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 10px;
        display: none;
    }
}


@media (max-width: 767.98px) {
    .cards .text-2 p {
        padding-right: 0px;
        padding-top: 5px;
    }

    .slider h4 {
        font-size: 22px;
    }

    .slider-2 .edit-box {
        padding: 21px 76px 18px 42px;
    }

    .slider-2 .edit-box p {
        font-size: 16px;
        line-height: 28px;
    }

    .slider-2 .edit-box .img-set h5 {
        font-size: 19px;
    }
}



@media (max-width: 575.98px) {
    .edit-one {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .navbar-brand .logo-style {
        font-size: 22px;
        line-height: 24px;
    }

    .banner {
        min-height: 350px;
        display: flex;
        align-items: center;
    }

    .banner .text {
        margin-top: 70px;
    }

    .banner .text h3 {
        font-size: 20px !important;
        line-height: 27px;
    }

    .btn-2 {
        padding: 7px 0px 7px 0px;
        min-width: 150px;
        margin-left: -1px;
        margin: 15px 0px;
        font-size: 13px;
    }

    .btn-style {
        font-size: 13px;

        min-width: 150px;
        padding: 8px 0px 8px 0px;
        margin-top: 4px;
    }

    .cards {
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .cards .ABOUT {
        padding-top: 35px;
        font-size: 24px;
    }

    .cards .set-padding {
        padding-left: 10px;
        padding-right: 10px;
    }

    .cards .text-2 p {
        font-size: 17px;
        line-height: 26px;
    }

    .banner-2 .text h5 {
        font-size: 28px !important;
        line-height: 33px;
    }

    .banner-2 .text p {
        font-size: 16px;
        line-height: 24px;
    }

    .banner-2 {
        min-height: 380px;
    }

    .cards-section .RECENT {
        padding-bottom: 5px;
        font-size: 25px;
    }

    .cards-section {
        padding: 25px 0px 25px;
    }

    .cards-section .style-box .text h2 {
        font-size: 14px !important;
        padding-top: 10px;
        line-height: 22px;
        margin: 0px;
    }

    .cards-section .style-box .text p {
        padding-top: 7px;
        font-size: 13px;
        line-height: 20px;
    }

    .slider {
        padding: 15px 0px 15px 0px;

    }

    .slider h4 {
        font-size: 18px;
        line-height: 23px;
    }

    .slider img {
        height: 65px !important;
        width: 139px !important;
        margin: auto;
    }

    .slider-2 .edit-box {
        padding: 20px 72px 15px 36px;
    }

    .slider-2 .edit-box .img-set {
        display: block;
        margin-top: 10px;
    }

    .slider-2 .edit-box .img-set h5 {
        font-size: 17px;
    }

    footer .edit-box {
        margin-top: 33px;
    }

    footer .edit-box h3 {
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 6px;


    }

    footer .edit-box a {
        font-size: 15px;
    }

    .cards .style-box .text h4 {
        font-size: 20px;
        line-height: 23px;
        padding-top: 24px;
        padding-bottom: 21px;
    }

    .navbar-toggler {
        background-color: white;
    }
}
